<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">
		<ui:define name="content">
			<h1>Usuarios</h1>
			<h:form id="frm">
				<h:panelGrid columns="2">
					<p:inputText placeholder="Buscar usuario"
						value="#{usuarioBean.buscarU}" />

					<p:commandButton value="Buscar" update="dt"
						actionListener="#{usuarioBean.buscarUsuario()}" />
				</h:panelGrid>
				
				<p:dataTable id="dt" emptyMessage="No hay resultados"
					value="#{usuarioBean.usLista}" var="e">
					<p:column headerText="Nombre Usuario">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>
					<p:column headerText="Estado">
						<p:outputLabel value="#{e.estado}" />
					</p:column>
					<p:column headerText="Modificar">
						<p:commandLink value="Modificar" oncomplete="PF('wdlg').show()"
							update="frm:dlg" />
					</p:column>
				</p:dataTable>
				
				<p:dialog id="dlg" widgetVar="wdlg" header="Modificar Usuario: "
					modal="true" resizable="false" draggable="true"
					closeOnEscape="true">
					<h:panelGrid columns="3">
						<p:outputLabel value="Usuario: " />
						<p:inputText value="#" />
					</h:panelGrid>
					
					<h:panelGrid columns="3">
						<p:outputLabel value="Contraseña actual: " />
						<p:inputText value="#" />
						<p:commandButton value="verificar" actionListener="#" />
					</h:panelGrid>
					
					<h:panelGrid columns="3">
						<p:outputLabel value="Nueva contraseña: " />
						<p:inputText value="#" />
					</h:panelGrid>
					
					<h:panelGrid columns="3">
						<p:outputLabel value="Repetir contraseña: " />
						<p:inputText value="#" />
					</h:panelGrid>
					
				</p:dialog>
				
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
